# If you do not specify a namespace, the default used is aws:elasticbeanstalk:application:environment
option_settings:
  - option_name: AWS_SECRET_KEY
    value: /Y847fEp8FtHaYHA5czaeMlUpo5YxvI2HGS9m/xv
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAI7U3QCNQMGHUFIDQ
  - namespace: aws:elasticbeanstalk:container:nodejs:staticfiles
    option_name: /public
    value: /public 
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_HOSTNAME
    value: raminbeanstalkpostgresrds.c4kwtlwuqunl.us-east-1.rds.amazonaws.com
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_PORT
    value: 5432
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_DB_NAME
    value: sample-connector
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_USERNAME
    value: ramin
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: RDS_PASSWORD
    value: ramin123
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: __ROLE
    value: all
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: __PRODUCER_RATE 
    value: 180000
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: Ramin_Beanstalk
